<!-- views/partials/budgetItemsTable.ejs -->
<% if (budgetItems && budgetItems.length > 0) { %>
    <table class="budget-items-table">
        <thead class="budget-items-thead">
            <tr class="budget-items-header-row">
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="budget-items-tbody">
            <% budgetItems.forEach(function(item) { %>
                <tr class="budget-items-row" data-id="<%= item._id %>">
                    <td><%= item.type %></td>
                    <td><%= item.category ? item.category.name : 'No Category' %></td> <!-- Handle undefined category -->
                    <td><%= item.description %></td>
                    <td>$<%= item.amount.toFixed(2) %></td>
                    <td><%= item.frequency %></td>                
                    <td class="budget-items-actions">
                        <button class="budget-item-edit btn" data-id="<%= item._id %>" data-type="<%= item.type %>" data-type="<%= item.category %>" data-amount="<%= item.amount %>" data-frequency="<%= item.frequency %>" data-description="<%= item.description %>">Edit</button>                        
                        <button class="budget-item-delete btn" data-id="<%= item._id %>">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <button id="modalOpener" class="btn btn-primary">Add Item</button>

    </table>
<% } else { %>
    <table class="budget-items-table">
        <thead class="budget-items-thead">
            <tr class="budget-items-header-row">
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="budget-items-tbody">
        </tbody>
    
    <button id="modalOpener" class="btn btn-primary">Add Item</button>
</table>
<p class="no-budget-items">No budget items found.</p>
<% } %>
  
    